@import "tailwindcss";
@theme {
    --font-primary: "Montserrat", "sans-serif";
    --font-display: "Cal Sans", "sans-serif";
    --font-cal: "";
}

/* Add this in your global CSS */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; }